<ul class="nav navbar-nav">
	<li class="active"><a href="/">Home</a></li>
	<% if (!user) { %>
	  <li><a href="/auth/facebook">Logar com Facebook</a></li>
	<% } else { %>
	  <li> <a href="/account">Perfil</a> </li>
	  <li> <a href="/logout">Sair</a> </li> 
	<% } %>
</ul>