<% layout('layout') -%>

<div class="jumbotron">
   <% if (!user) { %>
		<h1>Bem vindo! Faça o Login!</h1>
		 <p>
          <a class="btn btn-lg btn-primary" href="/auth/facebook" role="button">Logar com Facebook</a>
        </p>
	<% } else { %>
		<h1>Olá, <%= user.displayName %>!</h1>
	<% } %>
</div>