<!DOCTYPE html>
<html>
	<head>
		<title>Autenticação com Facebook e NodeJs</title>
		<link rel="stylesheet" type="text/css" href="bower_components/j-menu/css/jmenu.css" media="screen" />
		<script type="text/javascript" src="bower_components/j-menu/js/jquery.js"></script>
		<script type="text/javascript" src="bower_components/j-menu/js/jquery-ui.js"></script>
		<script type="text/javascript" src="bower_components/j-menu/js/jMenu.jquery.min.js"></script>
	</head>
	<body>
		<% include header.ejs %>
		<div class="blog-body">
			<div class="container">
				<%- body %>
			</div>
		</div>
	</body>
</html>